<!DOCTYPE html>
<html>
<head>
  <title>Buckle</title>
  <%= stylesheet_link_tag    "buckle/application", :media => "all" %>
  <%= javascript_include_tag "buckle/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= content_for?(:content) ? yield(:content) : yield %>

</body>
</html>
